<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <!-- Dojo (Google CDN, protocol-relative) -->
        <!--
        <script src="//ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
        <script>
            dojo.addOnLoad(function () {
                // ...
            });
        </script>
        -->

        <!-- jQuery (Google CDN, protocol-relative) -->
        <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery.js"></script>
        -->

        <!-- Google Analytics -->
        <!--
        <script type="text/javascript">
            var _gaq = [
                ["_setAccount", "UA-XXXXX-X"],
                ["_trackPageview"]
            ];

            (function (d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];

                g.async = 1;
                g.src = ("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";

                s.parentNode.insertBefore(g, s);
            }(document, "script"));
        </script>
        -->
    </body>
</html>
